.sidebar {
  grid-area: questionNumbers;
  min-width: 90px;
  background: #fff;
  box-shadow: 2px 0 18px 0 rgba(30, 64, 175, 0.07);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1.2rem 0.8rem 1.2rem 0.6rem;
  overflow: hidden;
  box-sizing: border-box;
}

.numbersList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding: 0.4rem;
  scrollbar-gutter: stable;
}

.numberBtn {
  border: none;
  outline: none;
  background: transparent;
  color: #334155;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 600;
  border-radius: 0.55em;
  padding: 0.16em 0.39em;
  transition: background 0.17s;
  cursor: pointer;
  width: 3rem;
  height: 2.3rem;
}

.numberBtn.selected,
.numberBtn:focus {
  background: #eff6ff;
  color: #2563eb;
  outline: none;
  box-shadow: 0 0 0 3px #60a5faaa;
}

.statusDot {
  width: 9px;
  height: 9px;
  min-width: 9px;
  min-height: 9px;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
  margin-right: 0.2em;
}

.legend {
  font-size: 0.75rem;
  color: #626876;
  font-weight: 600;
  padding-top: 1rem;
  border-top: 1px solid #e2e8f0;
  width: 100%;
}

.legendItem {
  display: flex;
  align-items: left;
  justify-content: space-between;
  font-weight: 600;
  
}

.legendLabel {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.dot {
  width: 9px;
  height: 9px;
  min-width: 9px;
  min-height: 9px;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
}

.count {
  color: #2563eb;
  font-weight: 700;
  font-size: 0.75rem;
  /* margin-left: ; */
}

@media (max-width: 900px) {
  .sidebar {
    min-width: 60px;
    padding: 1em 0.2em;
  }
}
